<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>aurora note</title>
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript"
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="/bundles/todoprvi/js/ripples.js"></script>
        <script src="/bundles/todoprvi/js/material.min.js"></script>
        <script src="/bundles/todoprvi/js/my_controller.js"></script>

        <link href="/bundles/todoprvi/css/roboto.min.css" rel="stylesheet">
        <link href="/bundles/todoprvi/css/material.min.css" rel="stylesheet">
        <link href="/bundles/todoprvi/css/ripples.min.css" rel="stylesheet">
        <link href="/bundles/todoprvi/css/todo_app.css" rel="stylesheet">
        <script>
            $(document).ready(function () {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });
        </script>
    {% endblock %}
</head>
<body>
<div id="wrapper">

    {#NAVBAR#}
    {% block navbar %}
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">aurora note</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li id="navbar_home"><a href="{{ path('home') }}">home</a></li>
                    <li id="navbar_add"><a href="{{ path('addNew') }}">add</a></li>
                    <li id="navbar_edit"><a href="{{ path('addNew') }}">edit</a></li>
                </ul>
            </div>
        </div>

        <section id="jumbo" class="bg-1 text-center">
            {#<h1 class="">aurora note</h1>#}

            {#<p class="lead">task manager</p>#}
        </section>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <div id="footer" class="">

    </div>
    {% endblock %}
</div>

</body>
</html>
