{% extends "ToDoPrviBundle:Default:appTemplate.html.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#navbar_contact").addClass("active");
            });
        </script>
        <div class="container">
            <div class="well">
                <h2> From app creator: </h2>

                <h4>The course:</h4>
                <p> This app has been created as part of the course <span class="text-info">Advanced PHP with Symfony2 framework.</span>. <br />
                    The course was organized by <a href="http://www.best.rs">The Board of European Students of Technology (BEST)</a>. <br />Big thanks to them for accepting me.
                </p> <br />

                <h4>The app and info:</h4>
                <p> The goal of the app was to showcase some basic components Symfony provides. <br />
                    If you want to find out more about Symfony you can do so <a href="https://symfony.com/"
                                                                                target="_blank">here.</a></p>

                <p> If you wish to contact me you can do so at: <a href="mailto:#">auroraholding@live.com</a> <br />
                    You can find app source code <a href="https://github.com/skazzi310/ToDoProject_course_symfony">here.</a> <br />
                    You can also visit my homepage at <a href="http://www.alas.matf.bg.ac.rs/~mi13283" target="_blank">www.alas.matf.bg.ac.rs/~mi13283</a> <br />
                </p> <br />

                <h4>The name:</h4>
                <p> I've always been inspired by the incredible <a href="https://en.wikipedia.org/wiki/Aurora">aurora</a> effect which was the main reason I've picked
                    <span class="text-info">Aurora note</span> as a name for this app. App name could be changed in the future, this is more of a codename.</p>

            </div>

            <div class="well">
                <h2> Used resources: </h2>

                <p> Besides Symfony2 framework for PHP, I've used <a href="http://getbootstrap.com/" target="_blank">bootstrap</a>
                    to make my app scalable on all platforms.</p>

                <p> I've also used <a href="https://www.google.com/design/spec/material-design/introduction.html"
                                      target="_blank">material design</a> styled theme for bootstrap you can find <a
                            href="https://fezvrasta.github.io/bootstrap-material-design/">here</a>
                    created by Fez Vrasta (his <a href="https://github.com/FezVrasta" target="_blank">github page</a>).
                    I would like to use this chance to say big thanks to Fez for creating such an awesome theme!</p>
            </div>
        </div>
    {% endblock %}

     {% block footer %}
         <a id="button_addNew" href="{{ path('addNew') }}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
         {{ parent() }}
     {% endblock %}