{% extends "ToDoPrviBundle:Default:appTemplate.html.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
    <script type="text/javascript">
        $(document).ready(function (){
            $("#navbar_edit").addClass("active");
        });
    </script>
    <div class="container">
        <div class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Notice!</strong> You can also use <strong style="font-family: monospace";>php app/console todo:add 'my remainder' 'my location'</strong>
            to add a new item through the console.
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                <legend>Edit task</legend>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% endblock %}
