{% extends "ToDoPrviBundle:Default:appTemplate.html.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#navbar_notes").addClass("active");
            });
        </script>
    <div class="container">
        <h2>Your notes</h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Beleske sa kursa</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices id nulla nec pharetra.
                        Nullam vitae dui at lorem facilisis suscipit. Phasellus imperdiet venenatis enim.
                        Suspendisse iaculis enim tortor, in pellentesque lectus auctor sit amet. Cras sagittis arcu vitae lorem fermentum ultricies a in ex.
                        Vivamus id odio condimentum, eleifend sapien at, lacinia nunc. Phasellus facilisis consequat pharetra. Donec eget facilisis enim.
                        Nunc vitae dui vitae urna congue ultrices. Nullam tellus ligula, ullamcorper sit amet euismod id, viverra eget turpis.</p>

                        <p>Ut et tellus sem. Duis tristique enim eget aliquam venenatis. Pellentesque cursus ex porttitor ante dignissim, in cursus tellus convallis.
                        Praesent mollis malesuada varius. Ut tincidunt nisl et ante pharetra, at finibus ipsum pharetra. Mauris magna magna, semper eu magna vel,
                        pulvinar volutpat mauris. Phasellus leo ligula, pretium eget est eget, pulvinar vehicula eros. Pellentesque aliquam sagittis nulla.
                        Suspendisse feugiat nunc eu venenatis tincidunt. Ut non lorem sit amet magna imperdiet tincidunt. Vestibulum varius, sem et accumsan ultrices,
                        felis magna mollis nisi, ut rhoncus tortor metus a risus. Etiam id felis eleifend, pharetra urna at,
                        sollicitudin metus. Donec sodales quam ac magna aliquam, quis accumsan erat porttitor.</p>

                    </div>
                    <div class="panel-footer">Created on: 6.9.2015</div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

     {% block footer %}
         {% if is_granted("ROLE_USER") %}
             <a id="button_addNew" href="{{ path('addNew') }}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
         {% endif %}
         {{ parent() }}
     {% endblock %}